<table class="ui compact celled definition table">
    <thead>
      <tr>
        <th></th>
        <th>CRM</th>
        <th>Nome do médico</th>
        <th>Área</th>
        <th>Situação</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="collapsing">
           
        </td>
        <td>2337263-23</td>
        <td>Allan Hipolito</td>
        <td>Radiologia - Terapeuta</td>
        <td>Ativo</td>
        <div class="ui icon buttons">
           
            <button class="ui button blue"><i class="check alternate icon"></i></button>
            <button class="ui button"><i class="toggle off icon"></i></button>
            <button class="ui button red"><i class="ban icon"></i></button>
            
          </div>
      </tr>
      <tr>
        <td class="collapsing">
          <div class="ui fitted slider checkbox">
            <input type="checkbox"> <label></label>
          </div>
        </td>
        <td>2337263-23</td>
        <td>Eduardo Lopes</td>
        <td>Radiologia - Odontologia</td>
        <td>Inativo</td>
        <div class="ui icon buttons">
           
            <button class="ui button blue"><i class="check alternate icon"></i></button>
            <button class="ui button"><i class="toggle off icon"></i></button>
            <button class="ui button red"><i class="ban icon"></i></button>
            
          </div>
      </tr>
      <tr>
        <td class="collapsing">
          <div class="ui fitted slider checkbox">
            <input type="checkbox"> <label></label>
          </div>
        </td>
        <td>2337263-23</td>
        <td>Maria Lopes</td>
        <td>Cirurgiã - Terapeuta</td>
        <td>Rejeitado</td>
        <div class="ui icon buttons">
           
            <button class="ui button blue"><i class="check alternate icon"></i></button>
            <button class="ui button"><i class="toggle off icon"></i></button>
            <button class="ui button red"><i class="ban icon"></i></button>
            
          </div>
      </tr>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="4">
          <div class="ui right floated small primary labeled icon button"><i class="user icon"></i> Adicionar usuário </div>
          <div class="ui small button">Aprovar </div>
          <div class="ui small  disabled button">Aprovar Tudo </div>
        </th>
      </tr>
    </tfoot>
  </table>